// Paleta base
$color-bg: gray;       // slate-900
$color-surface: gray;  // gray-900
$color-text: #e5e7eb;     // gray-200
$color-accent: #3b82f6;   // blue-500

$radius-xl: 16px;
$container-w: 1100px;

// Tipografía
$font-sans: Ubuntu, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
